body {
    width:100%;
    margin: 0;
}

.btn .btn-default {
    background-color: white;
    color: #4E2582;
}

.btn .btn-default:hover {
    background-color: #CCB576;
 }

.dropbtn {
    padding: 16px;
    background-color: #222222;
    border: none;
    color: white;
}
/*.dropbtn :hover {
    color: #FFDF00;
}*/

/* The container <div> - needed to position the dropdown content */
.dropdown {
    background-color: #222222;
    color: #959D9D;
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    background-color: #222222;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    /* Links inside the dropdown */
    .dropdown-content a {
        padding: 12px 16px;
        color: white;
        text-decoration: none;
        display: block;
    }

        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {
            color: rgb(255,223,0);
        }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    color: rgb(255,223,0);
    background-color: #222222;
}

.center{
    text-align:center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}
.left {
    text-align: left;
    padding-left: 30px;
}

.gridcenter {
    text-align: center;
    align-content: center;
    padding-left: 25px;
}

.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: #FFFFFF;
    background-image: url('../Images/BLOG-IA-vs-ISU_930x402.jpg');
    background-position: center;
    height: 20em;
    border-color: black;
    border-width: 2px;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
}

.black {
    background-color: black;
    color: white;
    width: 100%;
    font-weight: bold;
}

.black2 {
    color: black;
    width: 100%;
    font-weight: bold;
}
.white {
    color: white;
    font-weight: bolder;
}
    .white:hover {
        color: rgba(255,223,0,0.75);
    }

.whitefoot {
    color: white;
    font-weight: bolder;
}

.gold {
    background-color: rgba(255, 223, 0, 0.75);
    color: black;
    width: 100%;
    font-weight: bold;
    border-radius: 10px;
}

.grey {
    background-color: rgb(211, 211, 211);
    color: black;
    width: 95%;
    height: 40px;
    font-weight: bold;
    font-weight: bolder;
    font-size: 15px;
    text-align: center;
    border-radius: 10px;
}

.grey:hover {
    background-color: rgba(255,223,0,0.75);
}

.button {
    border-radius: 7.5px;
}

.txtbox {
    min-width: 90%;
    padding: 10px;
    box-sizing: border-box;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

/*Yanni try to find some wraps*/
.editbox {
    min-width: 100%;
    padding: 10px;
    box-sizing: border-box;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

.ArchBox {
    min-width: 100%;
    margin-left: 10px;
    padding-left: 10px;
    box-sizing: border-box;
    overflow-wrap: break-word;
}

.border {
    border-color: rgba(255,223,0,0.75);
}
.wide {
    width: 95%;
    font-weight: bold;
}

.expandbox{
    background-color: black;
    color: white;
    text-align: right;
    width: 95%;
}

.btnclear{
    color: white;
    background-color:transparent;
    border: none;
}

.btnclear :hover{
    color: yellow;
}

.expandbox :hover{
    color:yellow;
}

.footer {
    position: relative;
    background-color: #222222;
    width: 100%;
    margin-bottom: 0;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    padding: 15px 0
}


.div_text_center {
    text-align: center;
    margin-left: 22.5%;
    margin-right: 30%;
}

.btnSelect {
    background-color: rgba(255, 223, 0, 0.75);
    color: black;
    font-weight: bold;
    border-radius: 10px;
}

.padding{
    padding-left: 10px;
}

.smpadding {
    padding-left: 5px;
}
.newspadding {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left:15px;
    padding-right: 5px;
    text-align: left;
    
}
.newsborder {
    border: solid;
    border-color: #000000;
    border-width: 1.5px;
    border-radius:15px;
}

.red{
    color:red;
    font-weight: bold;
}

.wide {
    width: 100%
}


#white {
    color: white;
}

    #white:hover {
        color: rgb(255,223,0);
    }

#white1 {
    color: white;
}

    #white1:hover {
        color: rgb(255,223,0);
    }

#white2 {
    color: white !important;
}

    #white2:hover {
        color: rgb(255,223,0) !important;
    }

.nav > li.customclass1 > a:hover, .nav > li.customclass1 > a:focus {
    background-color: inherit;
    color: #FFDF00;
}

.nav > li.customclass1 > a {
    color: white ;
}

.hyperlink {
    color: black;
    font-size: 20px;
}
.hyperlink:hover {
    color: rgb(255,223,0)
}
.bottomdiv {
    position: absolute;
    flex: inherit;
    bottom: 20vh;
}
.stickydiv {
    position: sticky;
    flex: inherit;

}
.rightdiv {
    float:right
}


.nav navbar-nav navbar-right li a{
    color:blue;
}

.nav navbar-nav navbar-right li a:hover {
    color: yellow;
}

.button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    padding: 0px;
}