body {
}

.btn .btn-default {
    background-color: white;
    color: #4E2582;
}

.btn .btn-default:hover {
    background-color: #CCB576;
 }



.center{
    text-align:center;
    align-content: center;
}

.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: #FFFFFF;
    background-image: url('../Images/BLOG-IA-vs-ISU_930x402.jpg');
    background-position: center;
    height: 20em;
    border-color: black;
    border-width: 2px;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
}
.black {
    background-color: black;
    color: white;
    width: 100%;
    font-weight: bold;
}
.gold {
    background-color: rgba(255, 238, 1, 0.5);
    color: black;
    width: 95%;
    font-weight: bold;
}

.grey {
    background-color: grey;
    color: black;
    width: 95%;
    font-weight: bold;
}
.wide {
    width: 95%;
    font-weight: bold;

.expandbox{
    background-color: black;
    color: white;
    text-align: right;
    width: 95%;
}

.btnclear{
    color: white;
    background-color:transparent;
    border: none;
}

.btnclear :hover{
    color: yellow;
}

.expandbox :hover{
    color:yellow;
}

.gridfont{
    font-size: 24em;
}
